/* 
    Document   : style
    Created on : 26.01.2013, 21:26:28
    Author     : kate
    Description:
        Purpose of the stylesheet follows.
*/

.drawing-area {
    width: 500px;
    height: 500px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}